/* Form.css */
.form-container {
    max-width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

    body{
        background-image: url('phaar.webp');
    background-repeat: no-repeat;
    background-size: cover;
    } 
form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin: 10px 0;
  }
  
  input {
    padding: 8px;
    margin-top: 4px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  .toggle-link {
    text-align: center;
    color: blue;
    cursor: pointer;
  }